{% extends 'core/base.html' %} {% block content%}
<div class="mt-5 mx-5">
    <h1 class="text-warning mb-5 border-bottom st-font"> Educations</h1>
    <div class="mb-5 st-font">
        <h3>Bachelor of Engineering (B.E), Computer science</h3>
        <h4 class="mt-3" style="text-indent:100px">Anjuman Islam Kalsekar Technical Campus</h4>
        <h4 class="mt-3" style="text-indent:100px">2017 - 2021</h4>
    </div>

    <div class="mb-5 st-font">
        <h3>Senior Secondary (XII)</h3>
        <h4 class="mt-3" style="text-indent:100px">HSC board</h4>
        <h4 class="mt-3" style="text-indent:100px">Year of completion: 2017</h4>
    </div>

    <div class="mb-5 st-font">
        <h3>Secondary (X) , SSC board</h3>
        <h4 class="mt-3" style="text-indent:100px">St. Mary's High School Mumbai</h4>
        <h4 class="mt-3" style="text-indent:100px">Year of completion: 2015</h4>
    </div>


    <h1 class="text-warning mb-5 border-bottom st-font"> Trainings</h1>
    <div class="mb-5 st-font">
        <h3>Machine Learning, Data Science And Deep Learning With Python.</h3>
        <h4 class="mt-3" style="text-indent:100px">Udemy, Online</h4>
        <h4 class="mt-3" style="text-indent:100px">Apr 2020 - May 2020</h4>
        <p class="mt-3" style="text-indent:100px">Complete hands-on machine learning tutorial with data science, Tensorflow, Artifcial intelligence, and neural networks.</p>
    </div>
    <div class="mb-5 st-font">
        <h3>Machine Learning</h3>
        <h4 class="mt-3" style="text-indent:100px">Internshala Trainings, Online</h4>
        <h4 class="mt-3" style="text-indent:100px">May 2020 - May 2020</h4>
        <p style="text-indent:100px">Successfully completed a six weeks online certi ed training on Machine Learning.</p>
        <p style="text-indent:100px">The training consisted of Introduction to Machine Learning, Python for Machine Learning, Machine Learning Life Cycle, Data Exploration and Manipulation, Build Your Firs t Model, Evaluation Metrics, k-NN, Selecting the
        </p>
        <p style="text-indent:100px">Right Model, Linear Regression, Logistic Regression, Decision Trees, Feature Engineering, Basics of Ensemble Models, Random Forest and Clustering modules.</p>

    </div>

    <div class="mb-5 st-font">
        <h3> Android Application Development.</h3>
        <h4 class="mt-3" style="text-indent:100px">Internshala Trainings, Online</h4>
        <h4 class="mt-3" style="text-indent:100px">Mar 2020 - Apr 2020</h4>
    </div>
    <div class="mb-5 st-font">
        <h3>Python.</h3>
        <h4 class="mt-3" style="text-indent:100px">RST Forum, Mumbai</h4>
        <h4 class="mt-3" style="text-indent:100px">Jan 2020 - Feb 2020</h4>
    </div>

</div>
{% endblock content%}