{% load static %}

<div class="border-right border-warning">
    <div class="text-center">
        <img src="{% static 'core/images/saboor_pic.jpg'%}" alt="ProfilePic" class="img-fluid rounded-circle mt-5" width="100px" height="100px">
        <h3 mt-3 class="st-font">Abdus Saboor Ansari</h3>
    </div>
    <hr class="border-light">
    <nav class="nav flex-column text-center">
        <a href="{% url 'home' %}" class="nav-link" style="color:black;">Home</a>
        <a href="{% url 'education' %}" class="nav-link" style="color:black;">Education</a>
        <a href="" class="nav-link" style="color:black;">Projects</a>
        <a href="{% url 'skills' %}" class="nav-link" style="color:black;">Skills</a>


    </nav>
</div>