{% load static %}

<div class="border-right border-warning">
    <div class="text-center">
        <img src="{% static 'core/images/saboor_pic.jpg'%}" alt="ProfilePic" class="img-fluid rounded-circle mt-5" width="100px" height="100px">
        <h3 mt-3 class="st-font">Abdus Saboor Ansari</h3>
    </div>
    <hr class="border-light">
    <nav class="nav flex-column text-center">
        <a href="" class="nav-link">Home</a>
        <a href="" class="nav-link">Education</a>
        <a href="" class="nav-link">Projects</a>
        <a href="" class="nav-link">Skills</a>
        <a href="" class="nav-link">Contact</a>


    </nav>
</div>